.advantage {
  padding: 110px 0 104px;

  background-color: $color-gray-blue;
  background-image: url("../img/content/background-advantage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1023 {
    padding: 90px 0  85px;
  }

  @include vp-767 {
    padding: 57px 0 50px;
  }

  @include retina {
    background-image: url("../img/content/background-advantage@2x.jpg");
  }
}

.advantage h2 {
  padding: 0;
  margin: 0 0 50px;

  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}

.advantage__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  padding: 0;

  list-style: none;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantage__item {
  position: relative;

  padding: 30px 30px 25px;

  background-color: $color-default-white;

  @include vp-1023 {
    padding: 25px 12px 19px 20px;
  }

  @include vp-767 {
    padding-right: 20px;
  }

  &--liner::before {
    background-image: url("../img/svg/liner.svg");
  }

  &--double-check::before {
    background-image: url("../img/svg/double-check.svg");
  }

  &--boat::before {
    background-image: url("../img/svg/boat.svg");
  }
}

.advantage__item::before {
  content: " ";
  position: absolute;
  top: 22px;
  left: 30px;

  width: 45px;
  height: 45px;

  background-position: 0 center;
  background-repeat: no-repeat;

  @include vp-1023 {
    top: 18px;
    left: 20px;

    width: 38px;
    height: 38px;
  }
}

.advantage__item h3 {
  margin: 50px 0 8px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  @include vp-1023 {
    margin-top: 43px;
  }

  @include vp-767 {
    margin-right: 50px;
  }
}

.advantage__item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
