.booking {
  display: flex;

  background-color: $color-light-blue;
  background-image: url("../img/content/background-booking.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/content/background-booking@2x.jpg");
  }
}

.booking__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 50px 60px;

  @include vp-1023 {
    flex-direction: column;
    justify-content: center;

    margin: 90px 0 100px;
  }

  @include vp-767 {
    margin: 60px 0 65px;
  }
}

.booking__description {
  display: flex;
  flex-direction: column;

  margin: -10px  50px 0 0;

  @include vp-1023 {
    margin: 0 0 52px;
    align-items: center;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 35px;
  }
}

.booking__description h2 {
  margin: 0 0 10px;

  font-size: 40px;
  line-height: 60px;
  font-weight: 700;

  @include vp-1023 {
    margin-bottom: 3px;

    text-align: center;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    margin: 0 10px 12px;

    font-size: 24px;
    line-height: 31px;
  }
}

.booking__description p {
  width: 360px;
  margin: 0;

  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    text-align: center;
  }

  @include vp-767 {
    width: 270px;

    font-size: 16px;
    line-height: 22px;
  }
}

.booking__form {
  width: 403px;
  min-height: 455px;

  @include vp-767 {
    width: 290px;
  }
}
