.cruise-card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 28px 24px 35px;

  color: $color-default-white;

  &:hover {
    background-color: $color-default-black;
  }

  &:hover h3 {
    position: static;

    margin-bottom: 12px;
  }

  &:hover .cruise-card__intro {
    display: flex;
  }

  &:hover img {
    display: none;
  }

  @include vp-1259 {
    padding: 29px 35px 35px;
  }

  @include vp-767 {
    padding: 29px 25px 35px;
  }
}

.cruise-card h3 {
  position: absolute;
  bottom: 25px;
  left: 30px;

  margin: 0;

  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  z-index: 5;

  @include vp-1259 {
    bottom: 27px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 18px;
    left: 25px;
  }
}

.cruise-card picture {
  width: 100%;
  height: 100%;
}

.cruise-card img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cruise-card__intro {
  display: none;
  flex: 1;
  flex-direction: column;
}

.cruise-card__description {
  flex: 1;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
}

.cruise-card__description dt {
  margin-bottom: 2px;

  font-weight: 500;
}

.cruise-card__description dd {
  margin: 0 0 10px;
}

.cruise-card__button {
  display: block;
  width: 100%;
  padding: 10px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;

  color: $color-default-black;
  background-color: $color-default-white;
}
