.cruise-card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  color: $color-default-white;

  &:hover .cruise-card__intro {
    z-index: 2;
  }
}

.cruise-card h3 {
  position: absolute;
  bottom: 23px;
  left: 30px;

  margin: 0;

  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  z-index: 1;

  @include vp-1259 {
    bottom: 27px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 18px;
    left: 25px;
  }
}

.cruise-card img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cruise-card__intro {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 5px 24px 35px;

  z-index: -1;
  background-color: $color-default-black;

  @include vp-1259 {
    padding: 5px 35px 35px;
  }

  @include vp-767 {
    padding: 5px 25px 35px;
  }
}

.cruise-card__intro h4 {
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.cruise-card__description {
  flex: 1;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
}

.cruise-card__description dt {
  margin-bottom: 2px;

  font-weight: 500;
}

.cruise-card__description dd {
  margin: 0 0 10px;
}

.cruise-card__button {
  display: block;
  width: 100%;
  padding: 10px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;

  color: $color-default-black;
  background-color: $color-default-white;
}
