$color-default-black:               #011c40;
$color-default-white:               #f9fbfd;

$color-placeholder-black:           rgba(1, 28, 64, 0.7);
$color-shadow-black:                rgba(1, 28, 64, 0.15);
$color-blue:                        #367fbf;
$color-gray-blue:                   #dce8f2;
$color-light-blue:                  #d3edfc;
$color-beige:                       #f2f0eb;


$ff-montserrat:                         "Montserrat", "Arial", sans-serif;

$vp-768:                            768px;
$vp-1024:                           1024px;

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
